/* style goes here */
:host{
  display: block;
} 
.container {
  padding: 1.6em 1em;
}
.container .content-block {
  display: flex;
  /* gap: 14px; */
  margin-top: 1em;
}
.content-block .column-1, .content-block .column-2 {
  flex-basis: 50%; 
  margin-bottom: 1.4em; 
}
.container .block-title {
  font-size: 16px;
  padding-bottom: 0.2em;
  margin-bottom: var(--space-large);
  max-width: 100%;
}
.container .block-title::after{
  content: '';
  height: 3px;
  width: 50%;
  border-bottom: 1px solid #c8c8c8;
  display: block;

}
/* text fields */
.content-block .column-1 .form-fields {
  display: flex;
  /* align-items: center; */
  gap: 1em;
  margin-bottom: var(--space-large,16px);
}
.content-block .column-1 .form-fields label {
  flex-basis: 140px;
}

/* Buttons */

.buttons .content-block .column-1 .form-fields{
  display: flex;
  gap: 1em;
  justify-content: right;
  padding-right: 1%;
}

/* media quries */
@media only screen and (max-width: 768px) {
  .container .content-block{
     flex-direction: column;
    margin-bottom: 1em;
   }
   .content-block .column-1,
   .content-block .column-2{
      flex-basis: 100%;
      width: 100%;
   }
   .policies{border: none;}
}