/* style goes here */
:host{
  display: block;
}
.d-flex{
  display: flex;
}
.show{
  display: block;
}
.hide{
  display: none;
}
eui-multi-panel-tile1{
  --gray-text: var(--gray-14, #242424);
}
.multi-panel .row-action-buttons{
  margin-top: 7px;
}
